/*GENERAL*/
@font-face{
    font-family:specialElite;
    src:url(Font/specialElite/SpecialElite-Regular.ttf);
}


body{
    color:#FFFFFF;
    background-color:#000000;
    font-family:specialElite, serif;
}


/*HEADER*/
#header{
    background-color:#1F1F1F;
    
}

#headerCatchphrase, span, p, h, a, .text{
    color:#FFFFFF;
    text-decoration:none;
    
}

#dropdown{
    background-color:#000000;    
}

#dropdown a:hover{
    background-color:#1F1F1F;
    color:#FFFFFF;
    
}


#navButtonDropdown{
    margin:0px;
    padding:0px;
    
}


/*FOOTER*/
#footerText{
    color:#A1A1A1;
}

#footerText2, #footerLink{
    color:#555555;
    padding:0px;
    margin:0px;
}

#socialLogo{
    width:30px;
    height:relative;
    padding-bottom:10px;
    opacity:0.5;
}

